src/main/resources/META-INF/XMLRequest.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CurrenciRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="PrimarySimbol"/>
        <xs:element type="xs:string" name="SecundarySimbol"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

